.canvasContainer {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    /* background: linear-gradient(to bottom right, #252530); */
    margin: 0 auto;

    box-shadow: 5px 5px 10px 5px #80808080;
    width: 100%;
}

.canvas {
    display: block;
    width: 100%;
}

.graphContainer {
    background: #ebebeb;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 5px #80808050, 0 0 10px 0 #80808030;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}

.graphContainer > div:last-child {
    display: flex;
    column-gap: 30px;
    padding: 30px 0;
}

.graphContainer > div:last-child > div:first-child > title {
    color: #e73a3a;
    text-align: left;
}

.graphContainer > div:last-child > div:last-child > title {
    color: #303035;
    text-align: left;
}

.mainList {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.mainList > div:first-child {
    border-bottom: 2px solid #8885;
    border-radius: 0;
}

.mainList > div:first-child > p {
    font-size: 1.2em;
    color: #303035;
}

.mainList > div:not(:first-child):hover {
    /* background: linear-gradient(to bottom, #90f0, #9000f015); */
    box-shadow: 0 0 5px 3px inset #8882;
}

.mainList > div {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 20px;
}

.mainList > div > p {
    flex: 1;
}

.mainList.threeC > div {
    columns: 3;
}

.mainList > div:first-child {
    font-weight: bold;
}

.top_section {
    width: 100% !important;
    display: block;
    position: relative;
    margin-top: 50px !important;
}
