h1 {
    margin: auto;
    margin-left: 0;
}

h2 {
    margin: auto;
    color: grey;
    font-weight: normal;
}

input[type="button"] {
    margin: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    background: #0001;
    font-size: 15px;
    color: grey;
    border-radius: 50px;
    box-shadow: 5px 5px 10px -5px #80808030, inset -5px -5px 10px -5px #80808080;

    margin-right: 0;
    margin-left: 0;
    width: fit-content;
}

input[type="button"]:hover {
    background: #303045;
    color: whitesmoke;
}

input[type="button"]:active {
    background: #ffffff25;
    color: whitesmoke;
}

#main_container {
    position: relative;
    height: fit-content;
    display: flex;
    width: fit-content;
}

#calendar_container {
    display: flex;
    width: fit-content;
    position: relative;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.row {
    display: flex;
    gap: 5px;
}

.day,
.emptyday {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(15px);
    /* background: #fff8; */
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.day:hover,
.emptyday:hover {
    background: #ffffff90;
    outline: 2px solid #fff8;
}

.emptyday {
    color: grey;
}

#days_container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 0px #80808020;
    border-radius: 10px;
    outline: 2px solid #0001;

    background: linear-gradient(to bottom right, #00000001, #00000008);
}

#day_titles {
    display: flex;
    width: fit-content;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}

#day_titles h2 {
    display: block;
    width: 35px;
    height: fit-content;
    text-align: center;
    font-size: 1.2em;
    /* border-bottom: 1px solid rgb(176, 29, 56); */
}

.day.ev::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    background: blue;
    display: block;
    width: 5px;
    height: 5px;
}

#circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(#20202030 0%, #ffffff00 50%);
    pointer-events: none;
    border-radius: 50%;
    z-index: 0;
    display: block;

    transition: opacity 0.5s;
}

.day.today {
    color: red;
}

#calendar-header {
    display: flex;
    gap: 20px;
    width: fit-content;
}

#calendar-header > h1 {
    width: fit-content;
    width: 100px;
}
