form {
    width: 50%;
    height: 600px;
    background-color: rgb(210, 207, 207);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: left;
    border-radius: 3%;
    text-align: left;
}
.form_field {
    margin: 10px 10px 10px 0;
    height: 25px;
    width: 300px;
    border: 2px solid #cccbcb;
    border-radius: 5px;
}
.form_field:hover {
    border: 2px solid #1783f7;
}

.form_label {
    color: black;
    align-self: left;
    font-size: 20px;
    margin-right: 10px;
}

.form_title {
    color: black;
    margin-left: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    align-self: left;
}

form {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

#add_employee_button,
#add_expense_button,
#issue_expense_card_button {
    background-color: white;
    border: 2px solid;
    border-color: #cccbcb;
    width: 200px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;

    border-radius: 5px;
}

#add_employee_button:hover,
#add_expense_button:hover,
#issue_expense_card_button:hover {
    background-color: #1783f7;
    color: white;
}

#cancel_new_employee_button,
#cancel_new_expense_button,
#cancel_new_expense_card_button {
    background-color: white;
    border: 2px solid;
    border-color: #cccbcb;
    width: 200px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    align-self: flex-start;
    border-radius: 5px;
}
#cancel_new_employee_button:hover,
#cancel_new_expense_button:hover,
#cancel_new_expense_card_button:hover {
    background-color: #fc6d6d;
    color: white;
}

#expense_description {
    width: 97%;
    height: 100px;
    border: 2px, solid, #cccbcb;
    border-radius: 5px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#expense_description:hover {
    border: 2px solid #1783f7;
}

#create_employee_error_message {
    display: flex;
    color: black;
    width: 350px;
    font-size: 20px;
    justify-self: flex-end;
    height: fit-content;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #fae2e2;
    margin-right: 10px;
}

.submit_cancel_error_group {
    display: flex;
    justify-content: space-between;
}

#button_input_combo {
    display: flex;
}

#button_input_combo button {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: -5px;
    border-radius: 5px;
    border: 2px solid #cccbcb;
}

#button_input_combo button:hover {
    filter: brightness(0.8);
}

#credit_card_graphic {
    width: 300px;
    height: 180px;
    background-image: linear-gradient(45deg, #252525, #8251d7);
    border-radius: 20px;
    box-shadow: 5px 10px 5px rgba(119, 118, 118, 0.235);
    margin-left: 15px;
    display: grid;
    position: relative;
}

#expense_card_graphic_container {
    display: flex;
}

#card_logo {
    position: absolute;
    right: -5px;
    bottom: 10px;
    display: none;
}

#expense_card_graphic_card_number {
    position: absolute;
    left: 20px;
    bottom: 70px;
    font-size: 20px;
    color: #eee;
}

#expense_card_graphic_expiration {
    position: absolute;
    font-size: 13px;
    color: #eee;
    bottom: 40px;
    left: 20px;
}

#valid_thru {
    font-size: 10px;
}

#cardholder {
    position: absolute;
    font-size: 18px;
    color: #eee;
    bottom: 17px;
    left: 20px;
}

#card_company_name {
    color: #eee;
    position: absolute;
    left: 20px;
    top: 10px;
}
