* {
    font-family: "Inter";
}

body {
    width: 100%;
}

header {
    background: linear-gradient(to bottom, #cccc, #fffc);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 5px #80808080;
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
}

header > .left-side,
header > .right-side {
    height: 50px;
    display: flex;
    margin-left: 0;
    flex: 1;
    align-items: center;
}

header > .right-side {
    justify-content: right;
}

title {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}

.outlined-button {
    background: linear-gradient(to bottom right, #a773ff, #8251d7);
    margin: 0 auto;
    width: 200px;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 0 5px 2px #5c5e7b50, inset 0 0 5px 2px #0000;
    display: block;
    outline: none;
}

.outlined-button-2 {
    background: linear-gradient(to bottom right, #90f0, #9000f015);
    outline: 2px solid #a773ff;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    color: #ededed;
    padding: 10px;
    font-weight: bold;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 0 5px 2px #5c5e7b50, inset 0 0 5px 2px #0000;
    display: block;
    cursor: pointer;
}

.outlined-button:hover,
.outlined-button-2:hover {
    transform: scale(1.07);
    box-shadow: 0 0 5px 2px #5c5e7b50, inset 0 0 5px 2px #5c5e7b50;
    color: #ebebff;
}

.outlined-button-2:hover {
    color: #a773ff;
}

section {
    width: 100%;
    position: relative;
}

footer {
    height: 300px;
    box-shadow: 0 0 10px 5px #3335;
    display: flex;
    background: white;
    z-index: 100;
    position: relative;
}

.logo-container {
    height: 80%;
    width: 180px;
}

.logo-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 7px 20px;
    border-radius: 15px;
    outline: 2px dashed #fff0;
    color: black;
}

nav ul li a:hover {
    outline: 2px dashed #8251d7;
    color: #8251d7;
    /* background: #fff5; */
}

nav ul li a.current {
    outline: 2px dashed #8251d7;
}

.signup-button {
    outline: 2px solid #8251d7;
    color: #8251d7;
}

.signup-button:hover {
    outline: 2px solid #8251d7;
    color: black;
    background: #fff5;
}

.profile-menu {
    height: 50px;
    object-fit: contain;
    width: fit-content;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0 #80808050;
}
.profile-menu > img {
    width: 100%;
    height: 100%;
}
